*~
/backup/*

# Fcitx
config/fcitx/profile*
config/fcitx/cached_layout

config/fcitx/clipboard/
config/fcitx/log/
config/fcitx/data/
config/fcitx/dbus/

config/fcitx/conf/fcitx-autoeng.config
config/fcitx/conf/fcitx-chttrans.config
config/fcitx/conf/fcitx-classic-ui.config
config/fcitx/conf/fcitx-imselector.config
config/fcitx/conf/fcitx-keyboard.config
config/fcitx/conf/fcitx-notify.config
config/fcitx/conf/fcitx-pinyin-enhance.config
config/fcitx/conf/fcitx-spell.config
config/fcitx/conf/fcitx-unicode.config
config/fcitx/conf/fcitx-xim.config
config/fcitx/conf/fcitx-xkb.config


# XFCE4
config/xfce4/help.rc

config/xfce4/appfinder/
config/xfce4/desktop/
config/xfce4/panel/

config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-editor.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-manager.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-mixer.xml

# Thunar
config/Thunar/renamerrc
config/Thunar/accels.scm

# leiningen
home/.lein/self-installs/
home/.lein/repl-history

# LOCAL_SHARE
local_share/applications/mimeinfo.cache
local_share/applications/userapp-*.desktop
local_share/applications/wine/
local_share/applications/wine-*.desktop
