[Desktop Entry]
Version=1.0
Type=Application
Name=Emacs Daemon
Icon=emacs
Exec=systemctl --user restart emacs
NoDisplay=false
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
Comment=
Path=
